[submodule "ext/libogg"]
	path = ext/libogg
	url = https://github.com/gcp/libogg.git
[submodule "ext/libvorbis"]
	path = ext/libvorbis
	url = https://github.com/xiph/vorbis.git
[submodule "ext/flac"]
	path = ext/flac
	url = https://github.com/xiph/flac.git
[submodule "ext/opus"]
	path = ext/opus
	url = https://github.com/xiph/opus.git
[submodule "ext/opusfile"]
	path = ext/opusfile
	url = https://github.com/xiph/opusfile.git
[submodule "ext/libtheora"]
	path = ext/libtheora
	url = https://github.com/xiph/theora.git
